@font-face {
	font-family: 'Motiva Sans';
	src: url('MotivaSans-Thin.woff2') format('woff2'),
		url('MotivaSans-Thin.woff') format('woff'),
		url('MotivaSans-Thin.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Motiva Sans';
	src: url('MotivaSans-Regular.woff2') format('woff2'),
		url('MotivaSans-Regular.woff') format('woff'),
		url('MotivaSans-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Motiva Sans';
	src: url('MotivaSans-Bold.woff2') format('woff2'),
		url('MotivaSans-Bold.woff') format('woff'),
		url('MotivaSans-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Motiva Sans';
	src: url('MotivaSans-Black.woff2') format('woff2'),
		url('MotivaSans-Black.woff') format('woff'),
		url('MotivaSans-Black.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Motiva Sans';
	src: url('MotivaSans-Medium.woff2') format('woff2'),
		url('MotivaSans-Medium.woff') format('woff'),
		url('MotivaSans-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Motiva Sans';
	src: url('MotivaSans-Light.woff2') format('woff2'),
		url('MotivaSans-Light.woff') format('woff'),
		url('MotivaSans-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Motiva Sans';
	src: url('MotivaSans-ExtraBold.woff2') format('woff2'),
		url('MotivaSans-ExtraBold.woff') format('woff'),
		url('MotivaSans-ExtraBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}
